<p class="form_comment" id="micomment">Añadir Comentario</p>

<form method='post' action='/quizes/<%=quizid%>/comments/' class="form_comment">
	<input type="text" id="comment" name="comment[texto]" value="" placeholder="Tu comentario" class="form_comment">
	<button type="submit" class="form_comment">Enviar</button>
</form>