<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> -->
    <h3 class="inicio-text" id="title">Bienvenido a <%= title %></h3>
    <p class="text1">La App donde podras crear tus propias preguntas</p>
    <p class="descrip"><a href="/quizes/question" class="descrip-link">¡COMIENZA A JUGAR!</a></p>
<!--   </body>
</html>
 -->