.info-display:before{
	content: "Estilo Phones";
}
header{
	height: 120px;
}
header.main h2{
	font-size: 32px;
}
nav.main{
	width: 100%;
	height: 100px;
	background-color: #EEEEEE;
	text-align: center;
}
.main-item{
	display: inline-block;
	height: 100px;
	padding-left: 20px;
	padding-right: 20px;
}
.main-link{
	padding-top: 22px;
	width: 100%;
	height: 100px;
	display: inline-block;
	font-size: 40px;
}
.main-link:hover{
	color: #039be5;
}
button.inter{
	width: 140px;
	height: 70px;
	font-size: 28px;
}
button#acces{
	margin-right: 30px;
}
#title{
	font-size: 60px;
}
.text1{
	font-size: 30px;
	padding-right: 10px;
}
.content{
	height: 600px;
}

.descrip-link{
	margin-top: 80px;
	width: 250px;
	height: 120px;
	font-size: 32px;
}
section{
	text-align: center !important;
}
.inicio-text, .text1{
	padding-left: 0px;
	margin-left: 0px;
}
.pregunta-text{
	margin-top: 20px;
	font-size: 50px;
}
.cajetin-p{
	margin-top: 8px;
	width: 320px;
	font-size: 40px;
}
.boton-send{
	display: block;
	font-size: 40px;
	margin:auto;
	width: 320px;
	margin-top: 30px;
}
.form-pregunta{
	margin-left: 0px;
	padding-top: 120px;
}
.link-respuest{
	color: white;
	font-size: 38px;
}