@import url(http://fonts.googleapis.com/css?family=Roboto);
html, body {
	height: 100%;
}
*{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

.page-wrap{
	width: 100%;
	min-height:100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -120px;
}

header{
	width: 100%;
	height: 60px;
	background-color: #03a9f4;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.8);
	box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.8);
	position: relative;
	color: white;
}
header h2, div#botons{
	display: inline-block;
}
.main h2{
	padding-left: 20px;
}
button.inter{
	margin-right: 3px;
	margin-right: 3px;
	background-color: white;
	border-radius: 2px;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 1px 1px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 1px 1px 0px rgba(0, 0, 0, 0.5);

	width: 80px;
	height: 25px;
}
button.inter:active{
	border: 2px inset #EEEEEE;
}
#acces{
	color: #039be5;
}
div#botons{
	display: flex;
	flex-direction: row-reverse;/*Utilizamos flex GENIAL*/
	padding-right: 5px;
}

nav.main{
	width: 100%;
	height: 40px;
	background-color: #EEEEEE;
	text-align: center;
}
.main-list{
	list-style: none;
	padding: 0px;
}
.main-item{
	display: inline-block;
	height: 40px;
	padding-left: 5px;
	padding-right: 5px;
}
.main-link{
	padding-top: 8px;
	width: 100%;
	height: 40px;
	display: inline-block;
	/*border-bottom: 3px solid blue;*/
	color: #01579b;
	text-decoration: none;
}
.main-link:hover{
	color: #039be5;
}

.content{
	width: 100%;
	min-height: 350px;
	background-color: #01579b;
	color: white;
}
.inicio-text{
	font-size: 3em;
}
.text1{
	font-size: 1.3em;
	margin-bottom: 24px;/*empuja el botoncito empieza a jugar*/
}
.inicio-text, .text1{
	padding-left: 20px;
}
.descrip-link{
	display: block;
	width: 180px;
	height: 40px;
	text-align: center;
	margin: 0 auto;
	border-radius: 1px;

	text-decoration: none;
	background-color:  rgba(255, 255, 255, 0.5);
	color: white;

	padding-top: 20px;

	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:    0px 0px 2px 0px rgba(0, 0, 0, 0.8);
	box-shadow:         0px 0px 2px 0px rgba(0, 0, 0, 0.8);

	-webkit-transition: background-color 0.8s, box-shadow 0.8s; /* Safari */
    transition:  background-color 0.8s, box-shadow 0.8s;
}

.descrip-link:hover{
	background-color:  rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.88);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.88);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.88);
}

.descrip-link:active{
	width: 178px;
	height: 38px;
}
footer.pie{
	width: 100%;
	height: 120px;
	position: relative;
	bottom: 0;
	left: 0;
}
footer, .push {
	height: 120px; /* Ambos deben tener la misma altura */
}
.footer-text{
	padding-top: 15px;
	display: inline-block;
}
#izq{
	padding-left: 8px;
}

.footer-text a{
	padding-top: 10px;
	text-align: center;
	display: block;
	width: 130px;
	height: 35px;
	text-decoration: none;
	color: black;
	-webkit-transition: -webkit-box-shadow 0.5s; /* Safari */
    transition:  box-shadow 0.5s;
}
.footer-text a:hover{
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.centerone{
	text-align: center;
	width: 120px;
	margin: auto;
}
.info-display{
	font-style: italic;
	background-color: #80CBC4;
}

.info-display:before{
	content: "Estilo Base";
}

/*----Estilo de pagina pregunta*/
.form-pregunta{
	padding-top: 24px;
	margin-left:20px;
}
.pregunta-text{
	font-size: 28px;
}
.cajetin-p{
	margin-top: 8px;
	width: 250px;
	font-size: 20px;
}
.boton-send{
	font-size: 20px;
}
.resp{
	text-align: center;
}
.title-resp{
	padding-top: 20px;
}
.respuest-data{
	font-size: 48px;
	background-color: white;
	color: red;
}
.link-respuest{
	color: white;
	font-size: 18px;
}
.link-respuest:visited{
	color: white;
}
.buto{
	padding-top: 20px;
}
