<label class="in-data form-new" for="preg">Pregunta:</label>
<input class="in-data" type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"><p>
<label class="in-data form-new" for="resp">Respuesta:</label>
<input class="in-data" type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"><p>
<label class="in-data form-new" for="tema" id="lista">Tematica:</label>
 <select name="quiz[tema]" id="tema">
  <option value="otro" selected>Otro</option>
  <option value="humanidades">Humanidades</option>
  <option value="ocio">Ocio</option>
  <option value="ciencia">Ciencia</option>
  <option value="tecnologia">Tecnología</option>
</select><p>
<input class="create-link" type="submit" value="Guardar">
<a href="/quizes"><button type="button" class="create-link" id="cancel">Cancelar</button></a>
<!-- se pone type="" para no entrar en conflicto con submit-->