	<div class="imagen">
		<img class="author-pic" src="/images/profile.jpg" alt="">
	</div>
	<h2 class="autor">
		Desarrollado por <%= name %>
	</h2>
	<p class="sub-autor">Para el Curso de Node.js de MiriadaX, Basado en el codigo compartido en el modulo 6</p>