<form method="get" action="/quizes" class="busqueda"><!--ERROR EN EL ACTION POR / estaba de mas-->
	<input type="text" class="busqueda-box" name='search' placeholder="Busqueda" value="">
	<input type="submit" class="busqueda-send" value="Buscar">
</form>

<table class="list-question">
  <% var i; for (i=0; i < quizes.length; i++){ %>
    <tr>
      <td>
        <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
      </td>
      <td>
      	<a href="quizes/<%= quizes[i].id %>/edit"><button type="button" id="editi">Editar</button></a>
      </td>
    </tr>
  <% } %>
</table>
<a href="/quizes/new" class="newpreg"><button type="button" id="newpreg">Nueva Pregunta</button></a>
