<div class="form_login">
	<h2 class="logintitle">Inicia Sesion</h2>
<form action="/login" method="post">
	<div class="field">
		<label for='login'>usuario:</label><!--parametro login--> <br>
		<input type="text" id='login' name="login">
	</div>

	<div class="field">
		<label for='pass'>Password:</label><!--parametro login--> <br>
		<input type="password" id='pass' name="password">
	</div>

	<div class="actions">
		<input type="submit" name="commit" value="Entrar" id="intra">
	</div>
</form>
</div>
